openapi: 3.1.0
info:
  title: Speedy Web API
  version: 2026-05-12
servers:
  - url: https://api.speedy.bg/v1
tags:
  - name: Shipment Service
  - name: Print Service
  - name: Track And Trace Service
  - name: Pickup
  - name: Location Service
  - name: Calculation Service
  - name: Client Service
  - name: Validation Service
  - name: Services Service
  - name: Payments Service
paths:
  /shipment:
    post:
      tags:
        - Shipment Service
      operationId: createShipment
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateShipmentResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateShipmentRequest"
    delete:
      tags:
        - Shipment Service
      operationId: cancelShipmentDelete
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelShipmentResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelShipmentRequest"
  /shipment/cancel:
    post:
      tags:
        - Shipment Service
      operationId: cancelShipmentPost
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelShipmentResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelShipmentRequest"
  /shipment/add_parcel:
    post:
      tags:
        - Shipment Service
      operationId: addParcel
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddParcelResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddParcelRequest"
  /shipment/finalize:
    post:
      tags:
        - Shipment Service
      operationId: finalizePendingShipment
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FinalizePendingShipmentResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FinalizePendingShipmentRequest"
  /shipment/info:
    post:
      tags:
        - Shipment Service
      operationId: shipmentInformation
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShipmentInformationResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShipmentInformationRequest"
  /shipment/{shipmentId}/secondary:
    post:
      tags:
        - Shipment Service
      operationId: secondaryShipments
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SecondaryShipmentsResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SecondaryShipmentsRequest"
      parameters:
        - name: shipmentId
          in: path
          required: true
          schema:
            type: string
  /shipment/update:
    post:
      tags:
        - Shipment Service
      operationId: updateShipment
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateShipmentResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateShipmentRequest"
  /shipment/update/properties:
    post:
      tags:
        - Shipment Service
      operationId: updateShipmentProperties
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateShipmentPropertiesResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateShipmentPropertiesRequest"
  /shipment/search:
    post:
      tags:
        - Shipment Service
      operationId: findParcelsByRef
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindParcelsByRefResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FindParcelsByRefRequest"
  /shipment/handover:
    post:
      tags:
        - Shipment Service
      operationId: handoverToCourier
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HandoverToCourierResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HandoverToCourierRequest"
  /shipment/handover-to-midway-carrier:
    post:
      tags:
        - Shipment Service
      operationId: handoverToMidwayCarrier
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HandoverToMidwayCarrierResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HandoverToMidwayCarrierRequest"
  /shipment/barcode-information:
    post:
      tags:
        - Shipment Service
      operationId: barcodeInformation
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BarcodeInformationResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BarcodeInformationRequest"
  /print:
    post:
      tags:
        - Print Service
      operationId: labelInfo
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LabelInfoResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LabelInfoRequest"
  /print/voucher:
    post:
      tags:
        - Print Service
      operationId: printVoucher
      responses:
        "200":
          description: Successful response
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrintVoucherRequest"
  /track:
    post:
      tags:
        - Track And Trace Service
      operationId: track
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TrackResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TrackRequest"
  /track/bulk:
    post:
      tags:
        - Track And Trace Service
      operationId: bulkTrackingDataFiles
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkTrackingDataFilesResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BulkTrackingDataFilesRequest"
  /pickup:
    post:
      tags:
        - Pickup
      operationId: pickup
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PickupResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PickupRequest"
  /pickup/terms:
    post:
      tags:
        - Pickup
      operationId: pickupTerms
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PickupTermsResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PickupTermsRequest"
  /location/country/{id}:
    post:
      tags:
        - Location Service
      operationId: getCountry
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetCountryResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetCountryRequest"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /location/country:
    post:
      tags:
        - Location Service
      operationId: findCountry
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindCountryResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FindCountryRequest"
  /location/country/csv:
    post:
      tags:
        - Location Service
      operationId: getAllCountries
      responses:
        "200":
          description: Successful response
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetAllCountriesRequest"
  /location/state/{id}:
    post:
      tags:
        - Location Service
      operationId: getState
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetStateResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetStateRequest"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /location/state:
    post:
      tags:
        - Location Service
      operationId: findState
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindStateResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FindStateRequest"
  /location/state/csv/{countryId}:
    post:
      tags:
        - Location Service
      operationId: getAllStates
      responses:
        "200":
          description: Successful response
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetAllStatesRequest"
      parameters:
        - name: countryId
          in: path
          required: true
          schema:
            type: string
  /location/site/{id}:
    post:
      tags:
        - Location Service
      operationId: getSite
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetSiteResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetSiteRequest"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /location/site:
    post:
      tags:
        - Location Service
      operationId: findSite
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindSiteResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FindSiteRequest"
  /location/site/csv/{countryId}:
    post:
      tags:
        - Location Service
      operationId: getAllSites
      responses:
        "200":
          description: Successful response
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetAllSitesRequest"
      parameters:
        - name: countryId
          in: path
          required: true
          schema:
            type: string
  /location/street/{id}:
    post:
      tags:
        - Location Service
      operationId: getStreet
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetStreetResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetStreetRequest"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /location/street:
    post:
      tags:
        - Location Service
      operationId: findStreet
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindStreetResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FindStreetRequest"
  /location/street/csv/{countryId}:
    post:
      tags:
        - Location Service
      operationId: getAllStreets
      responses:
        "200":
          description: Successful response
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetAllStreetsRequest"
      parameters:
        - name: countryId
          in: path
          required: true
          schema:
            type: string
  /location/complex/{id}:
    post:
      tags:
        - Location Service
      operationId: getComplex
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetComplexResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetComplexRequest"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /location/complex:
    post:
      tags:
        - Location Service
      operationId: findComplex
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindComplexResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FindComplexRequest"
  /location/complex/csv/{countryId}:
    post:
      tags:
        - Location Service
      operationId: getAllComplexes
      responses:
        "200":
          description: Successful response
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetAllComplexesRequest"
      parameters:
        - name: countryId
          in: path
          required: true
          schema:
            type: string
  /location/block:
    post:
      tags:
        - Location Service
      operationId: findBlock
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindBlockResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FindBlockRequest"
  /location/block/csv/{countryId}:
    post:
      tags:
        - Location Service
      operationId: getAllBlocks
      responses:
        "200":
          description: Successful response
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetAllBlocksRequest"
      parameters:
        - name: countryId
          in: path
          required: true
          schema:
            type: string
  /location/poi/{id}:
    post:
      tags:
        - Location Service
      operationId: getPOI
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPOIResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetPOIRequest"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /location/poi:
    post:
      tags:
        - Location Service
      operationId: findPOI
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindPOIResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FindPOIRequest"
  /location/poi/csv/{countryId}:
    post:
      tags:
        - Location Service
      operationId: getAllPOI
      responses:
        "200":
          description: Successful response
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetAllPOIRequest"
      parameters:
        - name: countryId
          in: path
          required: true
          schema:
            type: string
  /location/postcode/csv/{countryId}:
    post:
      tags:
        - Location Service
      operationId: getAllPostcodes
      responses:
        "200":
          description: Successful response
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetAllPostcodesRequest"
      parameters:
        - name: countryId
          in: path
          required: true
          schema:
            type: string
  /location/office/{id}:
    post:
      tags:
        - Location Service
      operationId: getOffice
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOfficeResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetOfficeRequest"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /location/office:
    post:
      tags:
        - Location Service
      operationId: findOffice
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindOfficeResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FindOfficeRequest"
  /location/office/nearest-offices:
    post:
      tags:
        - Location Service
      operationId: findNearestOffices
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindNearestOfficesResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FindNearestOfficesRequest"
  /calculate:
    post:
      tags:
        - Calculation Service
      operationId: calculation
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CalculationResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CalculationRequest"
  /client/{id}:
    post:
      tags:
        - Client Service
      operationId: getClient
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetClientResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetClientRequest"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /client/contract:
    post:
      tags:
        - Client Service
      operationId: getContractClients
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetContractClientsResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetContractClientsRequest"
  /client/contact:
    post:
      tags:
        - Client Service
      operationId: createContact
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateContactResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateContactRequest"
  /client/contact/external/{id}:
    post:
      tags:
        - Client Service
      operationId: getContactByExternalId
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetContactByExternalIdResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetContactByExternalIdRequest"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
  /client:
    post:
      tags:
        - Client Service
      operationId: getOwnClientId
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOwnClientIdResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetOwnClientIdRequest"
  /client/contract/info:
    post:
      tags:
        - Client Service
      operationId: contractInfo
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContractInfoResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContractInfoRequest"
  /validation/address:
    post:
      tags:
        - Validation Service
      operationId: validateAddress
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidateAddressRequest"
  /validation/postcode:
    post:
      tags:
        - Validation Service
      operationId: validatePostCode
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidatePostCodeRequest"
  /validation/phone:
    post:
      tags:
        - Validation Service
      operationId: validatePhone
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidatePhoneRequest"
  /validation/shipment:
    post:
      tags:
        - Validation Service
      operationId: validateShipment
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidateShipmentResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidateShipmentRequest"
  /services:
    post:
      tags:
        - Services Service
      operationId: services
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServicesResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ServicesRequest"
  /services/destination:
    post:
      tags:
        - Services Service
      operationId: destinationServices
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DestinationServicesResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DestinationServicesRequest"
  /payments:
    post:
      tags:
        - Payments Service
      operationId: payout
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayoutResponse"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PayoutRequest"
components:
  schemas:
    ShipmentService:
      type: object
      properties:
        pickupDate:
          type: string
          format: date
          description: "The date for shipment pickup. Constraints: Could be today or a
            future date."
        autoAdjustPickupDate:
          type: boolean
          description: To find first available date for pickup starting from pickupDate
            according to pickup schedule for services
        serviceId:
          type: integer
          format: int64
          description: "Service to be used for the shipment. Constraints: Service id
            (code) should be valid for the destination."
        additionalServices:
          $ref: "#/components/schemas/ShipmentSubServices"
          description: "Defines sub-services (like COD, Declared value, etc.) associated
            with the shipment. Constraints: Sub-services may be allowed or
            forbidden for selected service and/or destination."
        deferredDays:
          type: integer
          format: int64
          description: "This parameter allows users to specify by how many (business) days
            they would like to postpone the shipment delivery from the standard
            term. Constraints: Allowed values are 0, 1 and 2."
        saturdayDelivery:
          type: boolean
          description: This parameter may adjust delivery date to the first business day,
            if the standard calculated delivery day is a half-working day. If
            not specified, system will determine this flag based on configured
            delivery customer working schedule.
      required:
        - serviceId
    ShipmentSubServices:
      type: object
      properties:
        cod:
          $ref: "#/components/schemas/ShipmentCODAdditionalService"
          description: "Defines shipment COD sub-service. Constraints: Seller could be
            required to have a valid contract and annex for COD for the
            destination."
        obpd:
          $ref: "#/components/schemas/ShipmentOBPD"
          description: Defines shipment options before payment details.
        declaredValue:
          $ref: "#/components/schemas/ShipmentDeclaredValueAdditionalService"
          description: Defines shipment declared value (extended liability) sub-service.
        fixedTimeDelivery:
          type: integer
          format: int64
          description: "This option fixes the time of delivery on the delivery date. 1130
            - means 11:30, 920 - means 09:20 Constraints: This option is checked
            against the configured allowed time frame for the service."
        returns:
          $ref: "#/components/schemas/ShipmentReturnAdditionalServices"
          description: "Defines a return sub-services. Constraints: Return shipments are
            verified for a return destination."
        specialDeliveryId:
          type: integer
          format: int64
          description: "Specifies special delivery identifier for the shipments.
            Identifiers are determined in a special delivery annex. Constraints:
            Requires an annex for special delivery."
        deliveryToFloor:
          type: integer
          format: int64
          description: "Specifies the floor number in the building where to deliver the
            shipment. Constraints: This sub-service requires an annex."
    ShipmentCODAdditionalService:
      type: object
      properties:
        amount:
          type: number
          format: double
          description: "Defines shipment COD base amount. Constraints: Validated against
            the maximum allowed amounts for the destination."
        currencyCode:
          type: string
          description: "Defines shipment COD currency code. Constraints: Validated against
            the allowed currency code for destination country."
        processingType:
          type: string
          enum:
            - CASH
            - POSTAL_MONEY_TRANSFER
          description: "Defines COD processing type. Constraints: Appropriate contract and
            annexes may be required."
        payoutToThirdParty:
          type: boolean
          description: "If this flag is set, the COD is paid to third party (not to the
            sender). Constraints: Requires a third party to be the payer of the
            courier service."
        payoutToLoggedClient:
          type: boolean
          description: If this flag is set, the COD is paid to the logged client.
        includeShippingPrice:
          type: boolean
          description: Flag indicating whether the shipping price should be included in
            the COD.
        cardPaymentForbidden:
          type: boolean
          description: Flag indicating that COD/PMT card payment is forbidden.
        fiscalReceiptItems:
          type: array
          items:
            $ref: "#/components/schemas/ShipmentCODFiscalReceiptItem"
          description: List of items to issue fiscal receipt on behalf of client	If
            shipment has fiscal receipt items, the COD amount is the total
            amount with VAT of all fiscal receipt items.
      required:
        - amount
    ShipmentCODFiscalReceiptItem:
      type: object
      properties:
        description:
          type: string
          description: "Fiscal receipt item description Constraints: Max 50 characters"
        vatGroup:
          type: string
          description: 'VAT group Constraints: Must match one of available VAT groups (for
            example "А" - 0% VAT, "Б" - 20% VAT, "Г" - 9% VAT).'
        amount:
          type: number
          format: double
          description: "Item amount before VAT. Constraints: Must be positive value"
        amountWithVat:
          type: number
          format: double
          description: "Item amount with VAT included Constraints: Must not be lower that
            amount before VAT"
      required:
        - description
        - vatGroup
        - amount
        - amountWithVat
    ShipmentDeclaredValueAdditionalService:
      type: object
      properties:
        amount:
          type: number
          format: double
          description: "Defines shipment Declared Value base amount. Declared value amount
            is always in local system currency. Constraints: Validated against
            the maximum allowed amounts."
        fragile:
          type: boolean
          description: "Defines fragile flag for shipment content. Constraints: Fragile
            shipments require a declared value sub service."
        ignoreIfNotApplicable:
          type: boolean
          description: "Flag to ignore declared value additional service in case it is not
            applicable for shipment on calculation Constraints: E-shops usually
            configure declared value (extended liability) by default for their
            shipments, However there are some certain internal rules when this
            option is not available. The flag is used in calculation service to
            provide price to end clients without repeating the calculation
            request with removed additional service"
      required:
        - amount
    ShipmentReturnAdditionalServices:
      type: object
      properties:
        rod:
          $ref: "#/components/schemas/ShipmentRODAdditionalService"
          description: "Defines Return Of Documents (ROD) sub-service. Constraints: The
            reverse shipment is validated for service and destination."
        returnReceipt:
          $ref: "#/components/schemas/ShipmentReturnReceiptAdditionalService"
          description: "Defines Return Receipt sub-service. Cannot be specified if
            electronicReturnReceipt is provided Constraints: The reverse
            shipment is validated for service and destination."
        electronicReturnReceipt:
          $ref: "#/components/schemas/ShipmentElectronicReturnReceiptAdditionalService"
          description: "Defines electronic Return Receipt sub-service (return receipt by
            email). Cannot be specified if returnReceipt is provided.
            Constraints: Electronic return receipt requires email."
        swap:
          $ref: "#/components/schemas/ShipmentSWAPAdditionalService"
          description: "Defines SWAP sub-service. Constraints: The reverse shipment is
            validated for service and destination."
        rop:
          $ref: "#/components/schemas/ShipmentROPAdditionalService"
          description: "Defines Return Of Pallets (ROP) sub-service. Constraints: The
            reverse shipment is validated for service and destination."
        returnVoucher:
          $ref: "#/components/schemas/ShipmentReturnVoucherSubService"
          description: "Defines Return Voucher associated with the shipment. Constraints:
            The reverse shipment is validated for service and destination."
        sendBackClientId:
          type: integer
          format: int64
          description: "Client id to specify send back address in case of a shipment
            return. Used in shipment returns after Check/Test or in case
            recipient is not found. If not specified  the shipment is returned
            to the primary shipment sender. Constraints: Should be a customer
            address (object) in the same contract as the sender of the
            shipment."
    ShipmentRODAdditionalService:
      type: object
      properties:
        enabled:
          type: boolean
          description: Enabled flag
        comment:
          type: string
          description: "Return documents comment. Constraints: Max size 512"
        returnToClientId:
          type: integer
          format: int64
          description: "Defines the recipient for the ROD shipment. If not specified and
            returnToOfficeId is not specified also, the reverse shipment is
            returned to the primary shipment sender. Constraints: Cannot be
            specified together with returnToOfficeId. The same value should be
            set for ROD and Return Receipt, if the sub-service presents. Cannot
            be specified if SWAP presents"
        returnToOfficeId:
          type: integer
          format: int64
          description: "Defines delivery pickup depot for the ROD shipment. If not
            specified and returnToClientId is not specified also, the reverse
            shipment is returned to the primary shipment sender. Constraints:
            Cannot be specified together with returnToClientId. The same value
            should be set for ROD, Return Receipt and SWAP, if the sub-service
            presents."
        thirdPartyPayer:
          type: boolean
          description: "Defines a third party payer for the ROD shipment. Otherwise the
            payer is the primary shipment sender. Constraints: Requires a third
            party payer of the primary shipment. The same value should be set
            for ROD, Return Receipt, ROP and SWAP, if the sub-service presents."
      required:
        - enabled
    ShipmentReturnReceiptAdditionalService:
      type: object
      properties:
        enabled:
          type: boolean
          description: Enabled flag
        returnToClientId:
          type: integer
          format: int64
          description: "Defines the recipient for the Return Receipt shipment. If not
            specified and returnToOfficeId is not specified also, the reverse
            shipment is returned to the primary shipment sender. Constraints:
            Cannot be specified together with returnToOfficeId. The same values
            should be set for ROD and Return Receipt, if the sub service
            presents. Cannot be specified if SWAP presents"
        returnToOfficeId:
          type: integer
          format: int64
          description: "Defines delivery pickup depot for the Return Receipt shipment. If
            not specified and returnToClientId is not specified also, the
            reverse shipment is returned to the primary shipment sender.
            Constraints: Cannot be specified together with returnToClientId. The
            same values should be set for ROD, Return Receipt and SWAP, if the
            sub service presents."
        thirdPartyPayer:
          type: boolean
          description: "Defines a third party payer for the Return Receipt. Otherwise the
            payer is the primary shipment sender. Constraints: Requires a third
            party payer of the primary shipment. The same values should be set
            for ROD, Return Receipt / Electronic Return Receipt, ROP and SWAP,
            if the sub service presents."
      required:
        - enabled
    ShipmentSWAPAdditionalService:
      type: object
      properties:
        serviceId:
          type: integer
          format: int64
          description: "Service to be used in return. Constraints: Validated for allowance
            and destination."
        parcelsCount:
          type: integer
          format: int64
          description: "Number of parcels to return. Constraints: Validated against
            maximum allowed parcels."
        declaredValue:
          type: number
          format: double
          description: "Declared value (extended liability) for the reverse shipment.
            Constraints: Validated for allowance and maximum amount."
        fragile:
          type: boolean
          description: "Fragile content flag for the reverse shipment. Constraints:
            Fragile shipments require declared value."
        returnToOfficeId:
          type: integer
          format: int64
          description: "Defines delivery pickup depot for the SWAP  shipment. If not
            specified, the reverse shipment is returned to the primary shipment
            sender. Constraints: The same values should be set for ROD, Return
            Receipt and SWAP, if the sub-service presents."
        thirdPartyPayer:
          type: boolean
          description: "Defines a third party payer for the SWAP shipment. Otherwise the
            payer is the primary shipment recipient. Constraints: Requires a
            third party payer of the primary shipment. The same value should be
            set for ROD, Return Receipt, ROP and SWAP, if the sub-service
            presents."
      required:
        - serviceId
        - parcelsCount
    ShipmentROPAdditionalService:
      type: object
      properties:
        pallets:
          type: array
          items:
            $ref: "#/components/schemas/ShipmentROPAdditionalServiceLine"
          description: "Defines pallets to return grouped by service id. Constraints:
            Total number of returned pallets should not exceed the parcel count
            of the primary shipment."
        thirdPartyPayer:
          type: boolean
          description: "Defines a third party payer for the returned pallets. Otherwise
            the payer is the primary shipment sender. Constraints: Requires a
            third party payer of the primary shipment. The same values should be
            set for ROD, Return Receipt / Electronic Return Receipt, ROP and
            SWAP, if the sub service presents."
      required:
        - pallets
    ShipmentROPAdditionalServiceLine:
      type: object
      properties:
        serviceId:
          type: integer
          format: int64
          description: "ROP service to be used. Constraints: Validated against destination."
        parcelsCount:
          type: integer
          format: int64
          description: Number of parcels to return.
      required:
        - serviceId
        - parcelsCount
    ShipmentReturnVoucherSubService:
      type: object
      properties:
        serviceId:
          type: integer
          format: int64
          description: Service id of the return shipment.
        payer:
          type: string
          enum:
            - SENDER
            - RECIPIENT
            - THIRD_PARTY
          description: "Defines a return voucher payer. Constraints: Allowed payers are
            validated against the service configuration and destination."
        validityPeriod:
          type: integer
          format: int64
          description: "Return voucher validity period in days. The annex return voucher
            period is used by default in case caller client has such in his
            contract and value is omitted Constraints: Verified to not exceed
            the configured internal maximum in the system"
      required:
        - serviceId
        - payer
    ShipmentElectronicReturnReceiptAdditionalService:
      type: object
      properties:
        recipientEmails:
          type: array
          items:
            type: string
          description: List of electronic return receipt recipient emails
        thirdPartyPayer:
          type: boolean
          description: "Defines a third party payer for the Electronic Return Receipt.
            Otherwise the payer is the primary shipment sender. Constraints:
            Requires a third party payer of the primary shipment. The same
            values should be set for ROD, Return Receipt / Electronic Return
            Receipt, ROP and SWAP, if the sub service presents."
      required:
        - recipientEmails
    ShipmentOBPD:
      type: object
      properties:
        option:
          type: string
          enum:
            - OPEN
            - TEST
          description: Defines the option to be used. Open parcels on payment or open and
            test parcels before payment.
        returnShipmentServiceId:
          type: integer
          format: int64
          description: Defines service id to be used on return.
        returnShipmentPayer:
          type: string
          enum:
            - SENDER
            - RECIPIENT
            - THIRD_PARTY
          description: Defines who pays the return shipment.
      required:
        - option
        - returnShipmentServiceId
        - returnShipmentPayer
    ShipmentContent:
      type: object
      properties:
        parcelsCount:
          type: integer
          format: int64
          description: "Total shipment parcels count. Ignored, if parcels list is not
            empty. The parcels count is the number of parcels in the lits in
            that case. Constraints: Validated against the minimum and maximum
            allowed for the service."
        totalWeight:
          type: number
          format: double
          description: "Total weight declared for the shipment. Ignored, if parcels list
            is not empty. The total weight is the sum of all parcels
            declaredWeight in that case. Constraints: Validated against the
            minimum and maximum allowed for the service."
        contents:
          type: string
          description: "Shipment content’s description. Constraints: 100"
        package:
          type: string
          description: "Shipment package. Constraints: 50"
        documents:
          type: boolean
          description: Documents flag of the shipment.
        palletized:
          type: boolean
          description: Palletized flag of the shipment.
        parcels:
          type: array
          items:
            $ref: "#/components/schemas/ShipmentParcel"
          description: "Parcels. If omitted a single default (first) parcel will be
            created for non-pallet and non-postal services. Constraints:
            Validated against the service configuration and pickup and delivery
            capacity of the depots and couriers."
        pendingParcels:
          type: boolean
          description: >-
            If this flag is true, the shipment is created in pending parcels
            state.
                              Shipments in pending parcels state allows adding parcels with addParcel method.
                              Pending parcels state is closed with finalizePendingShipment method.
        exciseGoods:
          type: boolean
          description: Flag shipment contains excise goods.
        lq:
          type: boolean
          description: Flag shipment contains dangerous goods in limited quantities.
        goodsValue:
          type: number
          format: double
          description: "Defines shipment goods value amount. Constraints: Validated
            against maximum allowed amount."
        goodsValueCurrencyCode:
          type: string
          description: "Defines shipment goods value currency code. Constraints: Requires
            a valid currency code."
        uitCode:
          type: string
          description: "Shipment UIT code. Constraints: Requires a valid UIT code."
        printAdditionalBarcode:
          type: integer
          format: int64
          description: DEPRECATED!(use the one at the parcel level)
      required:
        - contents
        - package
    ShipmentParcel:
      type: object
      properties:
        id:
          type: string
          description: Parcel identifier - barcode (if it is known).
        seqNo:
          type: integer
          format: int64
          description: "Parcel sequence number in the shipment. Constraints: Should be
            unique for the shipment."
        packageUniqueNumber:
          type: integer
          format: int64
          description: Package number associated with parcel.
        size:
          $ref: "#/components/schemas/ShipmentParcelSize"
          description: "Parcel size (width, height, depth) in cm. Constraints: Validated
            against the capacity of the couriers and depots. Used to calculate
            the volume weight, if applicable."
        weight:
          type: number
          format: double
          description: "Parcel weight in kg. Constraints: Validated against the capacity
            of the couriers and depots and service configuration."
        ref1:
          type: string
          description: "Reference number or text. Constraints: 20"
        ref2:
          type: string
          description: "Reference number or text. Constraints: 20"
        pickupExternalCarrierParcelNumber:
          $ref: "#/components/schemas/ExternalCarrierParcelNumber"
          description: External carrier parcel id for pickup
        deliveryExternalCarrierParcelNumber:
          $ref: "#/components/schemas/ExternalCarrierParcelNumber"
          description: External carrier parcel id for delivery
        goods:
          type: array
          items:
            $ref: "#/components/schemas/ShipmentParcelGoods"
          description: For parcels due to customs control. For more information, contact
            your company representative.
        printAdditionalBarcode:
          type: integer
          format: int64
          description: A custom barcode can be added on A6 labels. This instruction
            overrides the one provded in the "printAdditionalBarcode" property
            in the ShipmentContent structure.
      required:
        - weight
    ShipmentParcelSize:
      type: object
      properties:
        width:
          type: integer
          format: int64
          description: Parcel width in cm.
        depth:
          type: integer
          format: int64
          description: Parcel depth in cm.
        height:
          type: integer
          format: int64
          description: Parcel height in cm.
      required:
        - width
        - depth
        - height
    ExternalCarrierParcelNumber:
      type: object
      properties:
        externalCarrier:
          type: string
          enum:
            - ACS
          description: External carrier reference name
        parcelNumber:
          type: string
          description: External carrier parcel number
      required:
        - externalCarrier
        - parcelNumber
    ShipmentParcelGoods:
      type: object
      properties:
        description:
          type: string
          description: "Goods description. Constraints: 50"
        hsCode:
          type: string
          description: "Harmoneous System (HS) Code. Constraints: 50"
        quantity:
          type: integer
          format: int64
          description: Quantity of goods.
        valuePerItem:
          type: number
          format: double
          description: Price per item in goods currency.
        weightPerItem:
          type: number
          format: double
          description: Weight per item.
        originCountryCode:
          type: string
          description: "2 characters country code of goods origin. Constraints: 2"
      required:
        - description
        - hsCode
        - quantity
        - valuePerItem
        - weightPerItem
        - originCountryCode
    ShipmentPayment:
      type: object
      properties:
        courierServicePayer:
          type: string
          enum:
            - SENDER
            - RECIPIENT
            - THIRD_PARTY
          description: "Courier service payer. Constraints: Validated against the service,
            destination, contracts and annexes."
        declaredValuePayer:
          type: string
          enum:
            - SENDER
            - RECIPIENT
            - THIRD_PARTY
          description: "Declared value (extended liability) payer. If not provided, the
            courier service payer is assumed. Constraints: Validated against the
            service, destination, contracts and annexes."
        packagePayer:
          type: string
          enum:
            - SENDER
            - RECIPIENT
            - THIRD_PARTY
          description: "Package payer. If not provided, the courier service payer is
            assumed. Constraints: Validated against the service, destination,
            contracts and annexes."
        thirdPartyClientId:
          type: integer
          format: int64
          description: "Defines shipment third party - used as a payer of any of shipment
            payable components. Constraints: Third party customer should be a
            registered customer with valid contract and annex for delayed
            payment at pickup date. The third party customer should be a
            customer (object) in the same contract as the logged user."
        discountCardId:
          $ref: "#/components/schemas/ShipmentDiscountCardId"
          description: "Discount card to be used for discount calculation. Constraints:
            Validated against a referred contract."
        senderBankAccount:
          $ref: "#/components/schemas/BankAccount"
          description: "Sender COD payout account information. Constraints: Valid IBAN
            should be present if bank account is provided."
        administrativeFee:
          type: boolean
          description: "Flag to apply administrative fee on price calculations
            Constraints: Usage of administrative fee is enabled and configured
            in client contract. Ignored if not applicable for user"
      required:
        - courierServicePayer
    ShipmentDiscountCardId:
      type: object
      properties:
        contractId:
          type: integer
          format: int64
          description: "Fixed discount card contract id. Constraints: Validated against
            the accessible contract."
        cardId:
          type: integer
          format: int64
          description: "Fixed discount card id. Constraints: Validated against the fixed
            discount card register."
      required:
        - contractId
        - cardId
    BankAccount:
      type: object
      properties:
        iban:
          type: string
          description: "IBAN. Constraints: Validated according to IBAN standards."
        accountHolder:
          type: string
          description: Bank account holder.
      required:
        - iban
        - accountHolder
    ShipmentSender:
      type: object
      properties:
        clientId:
          type: integer
          format: int64
          description: "Client id to refer a sender. Constraints: Validate for existence."
        phone1:
          $ref: "#/components/schemas/ShipmentPhoneNumber"
          description: 'Sender phone number (for example: +40799123456, 0040799123456,
            +359999123456 - international format numbers or 0799123456,
            0999123456 - local numbers). Constraints: Max size is 20 chars.
            Phone numbers must contain digits only. The "+" sign is also
            permitted as a leading symbol. Only spaces are allowed as
            separators. Only phone numbers starting with "0" (zero) or "+" sign
            are allowed.'
        phone2:
          $ref: "#/components/schemas/ShipmentPhoneNumber"
          description: "Sender phone number 2. Constraints: Validate for valid phone
            number, if presents."
        phone3:
          $ref: "#/components/schemas/ShipmentPhoneNumber"
          description: "Sender phone number 3. Constraints: Validate for valid phone
            number, if presents."
        clientName:
          type: string
          description: "Sender customer name. Constraints: Validate for valid name
            (minimum 3 symbols, maximum 60)."
        contactName:
          type: string
          description: "Sender contact name. Constraints: Maximum 60"
        email:
          type: string
          description: "Sender email. Constraints: Maximum 255"
        privatePerson:
          type: boolean
          description: Sender  private person flag.
        address:
          $ref: "#/components/schemas/ShipmentAddress"
          description: "Sender address. Constraints: Validated for valid values."
        dropoffOfficeId:
          type: integer
          format: int64
          description: "Drop off office id. Constraints: Should refer to a valid
            accessible office."
        dropoffGeoPUDOId:
          type: string
          description: "DPD drop off office PUDO id Constraints: Should refer to a valid
            accessible DPD office."
      required:
        - phone1
    ShipmentRecipient:
      type: object
      properties:
        clientId:
          type: integer
          format: int64
          description: "Client id to refer recipient. Constraints: Validate for existence."
        phone1:
          $ref: "#/components/schemas/ShipmentPhoneNumber"
          description: 'Recipient phone number (for example: +40799123456, 0040799123456,
            +359999123456 - international format numbers or 0799123456,
            0999123456 - local numbers). Constraints: Max size is 20 chars.
            Phone numbers must contain digits only. The "+" sign is also
            permitted as a leading symbol. Only spaces are allowed as
            separators. Only phone numbers starting with "0" (zero) or "+" sign
            are allowed.'
        phone2:
          $ref: "#/components/schemas/ShipmentPhoneNumber"
          description: "Recipient phone number 2. Constraints: Validate for valid phone
            number, if presents."
        phone3:
          $ref: "#/components/schemas/ShipmentPhoneNumber"
          description: "Recipient phone number 3. Constraints: Validate for valid phone
            number, if presents."
        clientName:
          type: string
          description: "Recipient customer name. Constraints: Validate for valid name
            (minimum 3 symbols, maximum 60)."
        objectName:
          type: string
          description: "Recipient  customer object. Constraints: Validate for valid name
            (maximum 60 symbols)."
        contactName:
          type: string
          description: "Recipient  contact name. Constraints: Maximum 60"
        email:
          type: string
          description: "Recipient email Constraints: Maximum  255. Mandatory for
            international shipments"
        privatePerson:
          type: boolean
          description: Recipient  private person flag.
        address:
          $ref: "#/components/schemas/ShipmentAddress"
          description: "Recipient address. Constraints: Validated for valid values."
        pickupOfficeId:
          type: integer
          format: int64
          description: "Pickup office id. Constraints: Should refer to a valid accessible
            office."
        pickupGeoPUDOId:
          type: string
          description: "DPD pickup office PUDO id Constraints: Should refer to a valid
            accessible DPD office."
        autoSelectNearestOffice:
          type: boolean
          description: "Not supported for every destination country Constraints: Must be
            supported for destination country"
        autoSelectNearestOfficePolicy:
          $ref: "#/components/schemas/AutoSelectNearestOfficePolicy"
          description: "Defines policy for nearest office auto selection. By default the
            system tries to find nearest office and if office cannot be
            determined the shipment is delivered to client address Constraints:
            Applicable if autoSelectNearestOffice is true"
    ShipmentAddress:
      type: object
      properties:
        countryId:
          type: integer
          format: int64
          description: "Country ISO code. If not provided, local country is assumed. Used
            for all address types. Constraints: Validate for valid country
            code."
        stateId:
          type: string
          description: "Country state. Used for addresses of type 2 (foreign address).
            Constraints: Validate for valid country state."
        siteId:
          type: integer
          format: int64
          description: "Site id. Used for all address types. Constraints: Validate for
            valid site and value is required."
        siteType:
          type: string
          description: "Site type can be used in conjunction with countryId and siteName
            to find unique site. Used for addresses of type 1 (local address).
            Constraints: Max 20"
        siteName:
          type: string
          description: "Site type can be used in conjunction with countryId and siteName
            to find unique site. Used for all address types. Constraints: Max
            50"
        postCode:
          type: string
          description: "Can be used in conjunction with countryId to find unique site.
            Used for all address types. Constraints: Validated for valid
            postcode in site and country. Max 10"
        streetId:
          type: integer
          format: int64
          description: >-
            Street identifier. If not provided, but street type and street name
            are provided - the system will try to find unique match by them in
            site.
                              Used for addresses of type 1 (local address). Constraints: Validate for valid street.
        streetType:
          type: string
          description: "Street type. Used for addresses of type 1 (local address).
            Constraints: Max 15"
        streetName:
          type: string
          description: "Street name. Used for addresses of type 1 (local address).
            Constraints: Max 50"
        streetNo:
          type: string
          description: "Street number. Used for addresses of type 1 (local address).
            Constraints: Max 10"
        complexId:
          type: integer
          format: int64
          description: >-
            Complex identifier. If not provided, but complex type and complex
            name are provided - the system will try to find unique match by them
            in site.
                              Used for addresses of type 1 (local address). Constraints: Validate for valid complex.
        complexType:
          type: string
          description: "Complex type. Used for addresses of type 1 (local address).
            Constraints: Max 15"
        complexName:
          type: string
          description: "Complex name. Used for addresses of type 1 (local address).
            Constraints: Max 50"
        blockNo:
          type: string
          description: "Block No. Used for addresses of type 1 (local address).
            Constraints: Max 32"
        entranceNo:
          type: string
          description: "Entrance. Used for addresses of type 1 (local address).
            Constraints: Max 10"
        floorNo:
          type: string
          description: "Floor. Used for addresses of type 1 (local address). Constraints:
            Max 10"
        apartmentNo:
          type: string
          description: "Apartment. Used for addresses of type 1 (local address).
            Constraints: Max 10"
        poiId:
          type: integer
          format: int64
          description: "Point of interest identifier. Used for addresses of type 1 (local
            address). Constraints: Validate for valid point of interest."
        addressNote:
          type: string
          description: "Address note. Used for addresses of type 1 (local address).
            Constraints: 200"
        addressLine1:
          type: string
          description: "Address line 1. Used for addresses of type 2 (foreign address).
            Constraints: Max 35"
        addressLine2:
          type: string
          description: "Address line 2. Used for addresses of type 2 (foreign address).
            Constraints: Max 35"
        x:
          type: number
          format: double
          description: GIS coordinates - X .Used for all address types.
        y:
          type: number
          format: double
          description: GIS coordinates - Y. Used for all address types.
    Address:
      allOf:
        - $ref: "#/components/schemas/ShipmentAddress"
        - type: object
          properties:
            fullAddressString:
              type: string
              description: Full address in a single text field
            siteAddressString:
              type: string
              description: The address site description in a single text
            localAddressString:
              type: string
              description: The address within the site in a single text
          required:
            - fullAddressString
            - siteAddressString
            - localAddressString
    ShipmentPhoneNumber:
      type: object
      properties:
        number:
          type: string
          description: "Phone number. Constraints: Validate for valid phone number."
        extension:
          type: string
          description: "Extension. Constraints: Validate for valid extension, if presents."
      required:
        - number
    AutoSelectNearestOfficePolicy:
      type: object
      properties:
        unavailableNearestOfficeAction:
          type: string
          enum:
            - DELIVERY_TO_ADDRESS
            - CANCEL_WITH_ERROR
          description: The action to take if nearest office is unavailable. Values can
            be:"DELIVERY_TO_ADDRESS" - do not change recipient location and
            deliver to client address			"CANCEL_WITH_ERROR" - cancel shipment
            and return error in response
        officeType:
          type: string
          enum:
            - OFFICE
            - APT
          description: >-
            Office type filter. Values can be:
                           
            			         "OFFICE" - select nearest office
                              "APT" - select nearest locker (APT)
                           
                           No office filter selection is applied if value is not specified Constraints: Not supported for every destination country
    CreatedShipmentParcel:
      type: object
      properties:
        seqNo:
          type: integer
          format: int64
          description: Sequence number within the shipment.
        id:
          type: string
          description: Generated parcel id.
        externalCarrierId:
          type: integer
          format: int64
          description: External carrier id in case this parcel is mapped to an external
            carrier system
        externalCarrierParcelNumber:
          type: string
          description: External carrier parcel number in case this parcel is mapped to an
            external carrier system
      required:
        - seqNo
        - id
    ShipmentParcelRef:
      type: object
      properties:
        id:
          type: string
          description: Parcel id
        externalCarrierParcelNumber:
          type: string
          description: External carrier parcel number used to create parcels.
        fullBarcode:
          type: string
          description: No If id or externalCarrierParcelNumber is not provided, it is
            mandatory.
    ParcelHandover:
      allOf:
        - $ref: "#/components/schemas/ShipmentParcelRef"
        - type: object
          properties:
            dateTime:
              type: string
              format: date-time
              description: Datetime for handover operation
          required:
            - dateTime
    TrackShipmentParcelRef:
      allOf:
        - $ref: "#/components/schemas/ShipmentParcelRef"
        - type: object
          properties:
            ref:
              type: string
              description: >-
                Reference to parcel or shipment.
                                  The reference is searched in ref1 and ref2 fields in parcels
                                  or in ref1 and ref2 fields in shipment. A parcel is included in tracking if reference is found in parcel references.
                                  Otherwise, only first shipment parcel (this one with the same number as shipment id) is included in tracking
                                  in case reference is found in shipment references. Constraints: If externalCarrierParcelNumber or parcelId is provided, it is ignored.
                                  Since the reference is not unique, the maximum barcodes to include for tracking is limited to 10 per reference in request.
    MidwayCarrierParcelHandover:
      type: object
      properties:
        id:
          type: string
          description: Parcel id
        countryId:
          type: integer
          format: int64
          description: Country ISO id
        dateTime:
          type: string
          format: date-time
          description: Datetime for handover operation
        siteName:
          type: string
          description: Site name
      required:
        - id
        - countryId
        - dateTime
    ShipmentPrice:
      type: object
      properties:
        amount:
          type: number
          format: double
          description: Total amount (before VAT) in customer’s currency.
        vat:
          type: number
          format: double
          description: VAT amount in customer’s currency.
        total:
          type: number
          format: double
          description: Total amount (amount + vat) in customer’s currency.
        currency:
          type: string
          description: Customer currency code.
        details:
          type: string
          description: Amounts that form totals in customer’s currency (including net,
            discounts, surcharges). Keys in the map are the titles of the items
            included in the receipt.
        amountLocal:
          type: number
          format: double
          description: Total amount before VAT in local system currency.
        vatLocal:
          type: number
          format: double
          description: VAT in local system currency.
        totalLocal:
          type: number
          format: double
          description: Total amount in local system currency (amountLocal + vatLocal).
        currencyLocal:
          type: string
          description: Local system currency code.
        detailsLocal:
          type: string
          description: Amounts that form totals in local system currency (including net,
            discounts, surcharges). Keys in the map are the titles of the items
            included in the receipt.
        currencyExchangeRateUnit:
          type: integer
          format: int64
          description: Currency exchange rate unit for customer currency (1 unit of local
            system currency is equal to exchangeRateUnit / exchangeRate).
        currencyExchangeRate:
          type: number
          format: double
          description: Currency exchange rate used for customer currency conversion.
        returnAmounts:
          $ref: "#/components/schemas/ReturnAmounts"
          description: Shipment returns amounts due
      required:
        - amount
        - vat
        - total
        - currency
        - details
        - amountLocal
        - vatLocal
        - totalLocal
        - currencyLocal
        - detailsLocal
        - currencyExchangeRateUnit
        - currencyExchangeRate
    ShipmentPriceAmount:
      type: object
      properties:
        amount:
          type: number
          format: double
          description: Shipment price amount. Discounts are negative. Surcharges and net
            amount are positive.
        percent:
          type: number
          format: double
          description: Percent field is returned, if there is a percent associated with
            the amount. Fixed price amounts do not have a percent value. 20% is
            returned as 0.2.
        vatPercent:
          type: number
          format: double
          description: VAT percent applicable to the amount. Amounts without VAT have 0.0
            value in that field. Amounts with 20% VAT have 0.2 value in that
            field.
      required:
        - amount
        - vatPercent
    ReturnAmounts:
      type: object
      properties:
        moneyTransfer:
          $ref: "#/components/schemas/MoneyTransferPremium"
          description: Shipment money transfer premium.
    MoneyTransferPremium:
      type: object
      properties:
        amount:
          type: number
          format: double
          description: Amount due in client currency
        amountLocal:
          type: number
          format: double
          description: Amount due in local currency
        payer:
          type: string
          enum:
            - SENDER
            - RECIPIENT
            - THIRD_PARTY
          description: The payer of money transfer premium
    Error:
      type: object
      properties:
        context:
          type: string
          description: Message context, if associated. This refers to an item that is
            wrong and should be corrected.
        message:
          type: string
          description: Error message in language specified in the request.
        id:
          type: string
          description: System generated unique error id to be used as this error reference.
        code:
          type: integer
          format: int64
          description: Error code. See Appendix 3 - Error Codes for more details.
        component:
          type: string
          description: >-
            The request component, if applicable, relevant to this error in
            JSONPath format with dot notation.
                              
                              (For example $.sender.address.siteId refers to siteId property in sender address.)
      required:
        - message
        - id
        - code
    ParcelToPrint:
      type: object
      properties:
        parcel:
          $ref: "#/components/schemas/ShipmentParcelRef"
          description: Parcel reference.
        additionalBarcode:
          type: integer
          format: int64
          description: "Additional barcode to be added in the label. Constraints:
            Available for A6 paper size only. Otherwise, ignored."
      required:
        - parcel
    ParcelToPrintAdditionalBarcode:
      type: object
      properties:
        value:
          type: string
          description: "Barcode value. Constraints: For barcode formats other than
            'CODE128' it must contain digits only."
        label:
          type: string
          description: "It is printed just below the barcode image. Constraints: For
            barcode formats other than 'CODE128' label must be equal to the
            value."
        format:
          type: string
          enum:
            - CODE128
            - EAN13
            - EAN8
            - UPCA
            - UPCE
          description: Additional barcode format.
        valueType:
          type: string
          enum:
            - PROVIDED
            - PARCEL_ID
          description: >-
            Values can be:
                              
            			            "PROVIDED" - The default value. Uses the values in the "value" and "label" properties.
                                 "PARCEL_ID" - Prints the parceId.The "value" and "label" properties have to be empty. The "format" property is required with value "CODE128".
    LabelInfo:
      type: object
      properties:
        parcelId:
          type: string
          description: Parcel id.
        hubId:
          type: integer
          format: int64
          description: Delivery Hub id.
        officeId:
          type: integer
          format: int64
          description: Delivery Office id.
        officeName:
          type: string
          description: Delivery Office name.
        deadlineDay:
          type: integer
          format: int64
          description: Delivery deadline day of month.
        deadlineMonth:
          type: integer
          format: int64
          description: Delivery deadline month .
        tourId:
          type: integer
          format: int64
          description: Tour Id.
        fullBarcode:
          type: string
          description: Barcode containing the parcel number and important routing
            information.
        exportPriority:
          type: integer
          format: int64
          description: Export priority
      required:
        - parcelId
        - fullBarcode
        - exportPriority
    TrackedParcel:
      type: object
      properties:
        parcelId:
          type: string
          description: Parcel id.
        externalCarrierParcelNumbers:
          type: array
          items:
            type: string
          description: The list of all external carrier parcel numbers associated with the
            parcel.
        operations:
          type: array
          items:
            $ref: "#/components/schemas/TrackedParcelOperation"
          description: The list of operations (scans).
        externalCarrierParcelNumbersDetails:
          type: string
          description: Map of external carrier parcel details. Keys in the map are
            external carrier parcel numbers.
        error:
          $ref: "#/components/schemas/Error"
          description: Error for this parcel.
      required:
        - parcelId
        - operations
    TrackedParcelOperation:
      type: object
      properties:
        dateTime:
          type: string
          format: date-time
          description: Operation date time.
        operationCode:
          type: integer
          format: int64
          description: Operation code. See Appendix1 for reference.
        place:
          type: string
          description: Place of operation.
        description:
          type: string
          description: Operation description.
        comment:
          type: string
          description: Operation comment.
        exceptionCodes:
          type: array
          items:
            type: string
          description: List of exception codes for this operation. See Appendix2 for
            references.
        returnShipmentId:
          type: string
          description: If operation leads to return - the return shipment id is in this
            field.
        redirectShipmentId:
          type: string
          description: If operation leads to redirect - the redirected shipment id is in
            this field.
        consignee:
          type: string
          description: If operation leads to delivery - the recipient name is in this field.
        podImageURL:
          type: string
          description: If operation leads to pod capture - the pod image URL is in this
            field.
        additionalInfo:
          $ref: "#/components/schemas/TrackedParcelOperationAdditionalInfo"
          description: Additional information for operation
      required:
        - dateTime
        - operationCode
        - description
    TrackedParcelOperationAdditionalInfo:
      type: object
      properties:
        officeURL:
          type: string
          description: Pickup office URL (applicable for operation 134)
        geoPUDOId:
          type: string
          description: Pickup office PUDO id in case pickup office is a DPD office
            (applicable for operation 134)
        predict:
          $ref: "#/components/schemas/TrackedParcelOperationAdditionalInfoPredict"
          description: Predict details
    TrackedParcelOperationAdditionalInfoPredict:
      type: object
      properties:
        predictedVisitDateTimeFrom:
          type: string
          format: date-time
          description: Start of expected time window for delivery
        predictedVisitDateTimeTo:
          type: string
          format: date-time
          description: End of expected time window for delivery
        includedDelayInMinutes:
          type: integer
          format: int64
          description: Expected delivery time delay in minutes (if any). The expected time
            window for delivery is adjusted with this delay
        canceled:
          type: boolean
          description: The value is true in case the predict is cancelled
      required:
        - predictedVisitDateTimeFrom
        - predictedVisitDateTimeTo
        - canceled
    ExternalCarrierParcelNumberDetails:
      type: object
      properties:
        externalCarrierId:
          type: integer
          format: int64
          description: Id of the external carrier
        externalCarrierName:
          type: string
          description: Name of the external carrier
        trackAndTraceUrl:
          type: string
          description: Track and trace URL of the external carrier
      required:
        - externalCarrierId
        - externalCarrierName
    PickupOrder:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Order id.
        shipmentIds:
          type: array
          items:
            type: string
          description: The list of all shipments associated with the order.
        pickupPeriodFrom:
          type: string
          format: date-time
          description: Estimated period start for courier pickup visit
        pickupPeriodTo:
          type: string
          format: date-time
          description: Estimated period end for courier pickup visit
      required:
        - id
        - shipmentIds
    Country:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Country ISO
        name:
          type: string
          description: Country name in requested language
        nameEn:
          type: string
          description: Country name in English
        isoAlpha2:
          type: string
          description: Country ISO alpha 2 code
        isoAlpha3:
          type: string
          description: Country ISO alpha 3 code
        postCodeFormats:
          type: array
          items:
            type: string
          description: >-
            Allowed postcode format patterns.
                              If empty string presents in allowed patterns this means - postcode format is not restricted and post code validation is not applied on addresses in this country.  For non-empty patterns, the following characters are placeholders for:  
            			         N - digit
            			         A - letter
            			         ? - digit or letter
            			         B - letter
            			         O - digit
        requireState:
          type: string
          description: Require state flag
        addressType:
          type: integer
          format: int64
          description: Address type for this country (1 or 2 - see ShipmentAddress)
        currencyCode:
          type: string
          description: Currency code used for COD in this country
        defaultOfficeId:
          type: integer
          format: int64
          description: Default office id
        streetTypes:
          type: array
          items:
            $ref: "#/components/schemas/AddressNomenclatureType"
          description: Valid street types for country (applicable if addressType is equal
            to 1)
        complexTypes:
          type: array
          items:
            $ref: "#/components/schemas/AddressNomenclatureType"
          description: Valid complex types for country (applicable if addressType is equal
            to 1)
        siteNomen:
          type: integer
          format: int64
          description: >-
            Specifies site nomenclature (sites) for this country. Values can be:
                                         
                                             0 - No site nomenclature for this country.
                                             1 - Full site nomenclature for this country.
                                             2 - Partial site nomenclature for this country.
    AddressNomenclatureType:
      type: object
      properties:
        name:
          type: string
          description: Address nomenclature type name in requested language
        nameEn:
          type: string
          description: Address nomenclature type name in English
    State:
      type: object
      properties:
        id:
          type: string
          description: State id
        name:
          type: string
          description: State name in requested language
        nameEn:
          type: string
          description: State name in English
        stateAlpha:
          type: string
          description: State ISO alpha code
        countryId:
          type: integer
          format: int64
          description: State country id
    Site:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Site id
        countryId:
          type: integer
          format: int64
          description: Site country id
        mainSiteId:
          type: integer
          format: int64
          description: >-
            Here we have reference to main site if this site is a "satellite"
            one.
                              A satellite site is considered equal (to their main site) in context of "same city" service allowance
        type:
          type: string
          description: Site type in requested language
        typeEn:
          type: string
          description: Site type in English
        name:
          type: string
          description: Site name in requested language
        nameEn:
          type: string
          description: Site name in English
        municipality:
          type: string
          description: Municipality name in requested language
        municipalityEn:
          type: string
          description: Municipality name in English
        region:
          type: string
          description: Region name in requested language
        regionEn:
          type: string
          description: Region name in English
        postCode:
          type: string
          description: Default post code for this site (if any)
        addressNomenclature:
          type: integer
          format: int64
          description: >-
            Code for address nomenclature (streets, complexes, blocks, poi)
            support.
               				  
            			         0 - no address nomenclature 
            			         1 - full address nomenclature
            			         2 - partial address nomenclature
        x:
          type: number
          format: double
          description: Site center GPS X (longitude) coordinate
        y:
          type: number
          format: double
          description: Site center GPS Y (latitude) coordinate
        servingDays:
          type: string
          description: >-
            Serving days for this site.
                              Format: 7 serial digits (0 or 1) where each digit corresponds to a day in week (the first digit corresponds to Monday, the second to Tuesday and so on).
                              Value of '0' (zero) means that the site is not served on this day while '1' (one) means that it is served.
                              (Example: the text "0100100" means that the site is served on Tuesday and Friday only)
        servingOfficeId:
          type: integer
          format: int64
          description: Site's serving office
        servingHubOfficeId:
          type: integer
          format: int64
          description: The hub office ID to which serving office is connected
    Street:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Street id
        siteId:
          type: integer
          format: int64
          description: Street site id
        type:
          type: string
          description: Street type in requested language
        typeEn:
          type: string
          description: Street type in English
        name:
          type: string
          description: Street name in requested language
        nameEn:
          type: string
          description: Street name in English
        actualId:
          type: integer
          format: int64
          description: Actual street id (if this street is old and renamed)
        actualType:
          type: string
          description: Actual street type in requested language (if this street is old and
            renamed)
        actualTypeEn:
          type: string
          description: Actual street type in English (if this street is old and renamed)
        actualName:
          type: string
          description: Actual street name in local language
        actualNameEn:
          type: string
          description: Actual street name in English
    Complex:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Complex id
        siteId:
          type: integer
          format: int64
          description: Complex site id
        type:
          type: string
          description: Complex type in requested language
        typeEn:
          type: string
          description: Complex type in English
        name:
          type: string
          description: Complex name in requested language
        nameEn:
          type: string
          description: Complex name in English
        actualId:
          type: integer
          format: int64
          description: Actual complex id (if this complex is old and renamed)
        actualType:
          type: string
          description: Actual complex type in requested language (if this complex is old
            and renamed)
        actualTypeEn:
          type: string
          description: Actual complex type in English (if this complex is old and renamed)
        actualName:
          type: string
          description: Actual complex name in requested language (if this complex is old
            and renamed)
        actualNameEn:
          type: string
          description: Actual complex name in English (if this complex is old and renamed)
    Block:
      type: object
      properties:
        siteId:
          type: integer
          format: int64
          description: Block site id
        name:
          type: string
          description: Block name in requested language
        nameEn:
          type: string
          description: Block name in English
    PointOfInterest:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: POI id
        siteId:
          type: integer
          format: int64
          description: POI site id
        name:
          type: string
          description: POI name in requested language
        nameEn:
          type: string
          description: POI name in English
        type:
          type: string
          description: POI type in requested language
        typeEn:
          type: string
          description: POI type in English
        address:
          type: string
          description: POI address in requested language
        addressEn:
          type: string
          description: POI address in English
        x:
          type: number
          format: double
          description: POI GPS X (longitude) coordinate
        y:
          type: number
          format: double
          description: POI GPS Y (latitude) coordinate
    Office:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Office id
        name:
          type: string
          description: Office name in requested language
        nameEn:
          type: string
          description: Office name in English
        siteId:
          type: integer
          format: int64
          description: Office site id
        address:
          $ref: "#/components/schemas/Address"
          description: Office address in requested language
        workingTimeFrom:
          type: string
          description: Office work time start for days with standard (FULL) working schedule
        workingTimeTo:
          type: string
          description: Office work time end for days with standard (FULL) working schedule
        workingTimeHalfFrom:
          type: string
          description: Office work time start for days with saturday (HALF) working schedule
        workingTimeHalfTo:
          type: string
          description: Office work time end for days with saturday (HALF) working schedule
        workingTimeDayOffFrom:
          type: string
          description: Office work time start for non-working days (DAY OFF)
        workingTimeDayOffTo:
          type: string
          description: Office work time end for non-working days (DAY OFF)
        sameDayDepartureCutoff:
          type: string
          description: Office same day departure cutoff for days with standard (FULL)
            working schedule (departure of parcels delivered to office after the
            cutoff time is next working day)
        sameDayDepartureCutoffHalf:
          type: string
          description: Office same day departure cutoff for days with saturday (HALF)
            working schedule (departure of parcels delivered to office after the
            cutoff time is next working day)
        sameDayDepartureCutoffDayOff:
          type: string
          description: Office same day departure cutoff for non-working days (DAY OFF)
            working schedule (departure of parcels delivered to office after the
            cutoff time is next working day)
        maxParcelDimensions:
          $ref: "#/components/schemas/ShipmentParcelSize"
          description: Max parcels dimensions for this office
        maxParcelWeight:
          type: number
          format: double
          description: Max parcel weight
        type:
          type: string
          enum:
            - OFFICE
            - APT
          description: Office type
        nearbyOfficeId:
          type: integer
          format: int64
          description: Nearby office id
        workingTimeSchedule:
          type: array
          items:
            $ref: "#/components/schemas/OfficeWorkingTimeSchedule"
          description: Office work time schedule for next days
        palletOffice:
          type: boolean
          description: Pallet office flag
        cardPaymentAllowed:
          type: boolean
          description: Flag, indicating this office allows card payments
        cashPaymentAllowed:
          type: boolean
          description: Flag, indicating this office allows cash payments
        validFrom:
          type: string
          format: date
          description: Valid from date
        validTo:
          type: string
          format: date
          description: Valid to date
        cargoTypesAllowed:
          type: array
          items:
            type: string
            enum:
              - PARCEL
              - PALLET
              - TYRE
          description: Allowed cargo types
        pickUpAllowed:
          type: boolean
          description: Flag, indicating whether parcels can be picked up from office
        dropOffAllowed:
          type: boolean
          description: Flag, indicating whether parcels can be dropped-off in office
        routingInformation:
          $ref: "#/components/schemas/RoutingInformation"
    OfficeWorkingTimeSchedule:
      type: object
      properties:
        date:
          type: string
          format: date
          description: Date this schedule is applicable for
        workingTimeFrom:
          type: string
          description: Office working time start for this date
        workingTimeTo:
          type: string
          description: Office working time end for this date
        sameDayDepartureCutoff:
          type: string
          description: Office same day departure cutoff for this day (departure of parcels
            delivered to office after the cutoff time is next working day)
        standardSchedule:
          type: boolean
          description: If true - it is from standard schedule, otherwise office working
            time is overridden for this specific day
    CalculationService:
      type: object
      properties:
        pickupDate:
          type: string
          format: date
          description: "The date for shipment pickup. Constraints: Could be today or a
            future date"
        autoAdjustPickupDate:
          type: boolean
          description: To find first available date for pickup starting from pickupDate
            according to pickup schedule for services
        serviceIds:
          type: array
          items:
            type: integer
            format: int64
          description: "Services for which calculation is requested Constraints: Each
            service id (code) should be valid for the destination."
        additionalServices:
          $ref: "#/components/schemas/ShipmentSubServices"
          description: "Defines sub-services (like COD, Declared value, etc.) associated
[...]
